#contactPageContainer .container {
    text-align: center;
}

#contactPageContainer h2 {
    font-size: 4em;
    font-weight: 700;
}

#contactPageContainer p {
    font-size: 2em;
}

#contactPageContainer p strong {
    color: #0A0B0C;
    font-weight: 600;
}