#contactPageContainer .container {
    text-align: center;
}

#contactPageContainer h1 {
    text-align: center;
    color: #000;
    font-size: 3.2em;
    text-transform: uppercase;
    font-weight: normal;
}

#contactPageContainer p {
    font-size: 1.6em;
}