.title {
    position: absolute;
    margin: auto;
    width: 800px;
    height: 200px;
    top: 40%;
}

/*#homePageContainer {
    background-image: url('../images/BKGD_landscape.jpg');
    background-size: cover;
    color: white;
}

#homePageContainer #homePageMainBanner h2 {
    padding-left: 20px;
    font-style: italic;
}

#homePageContainer #homePageMainBanner .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    padding: 30px;
    margin: auto;
}

#homePageContainer #homePageMainBanner .title {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
}

#homePageContainer #homePageAboutUs .container {
    padding: 5% 10% 5% 10%;
}*/