.manage-container {
    background-color: rgba(210,210,210,0.8);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
}

#newSpotPageContainer .input-group-addon {
    width: 150px;
    text-align: right;
}

#newSpotPageContainer .input-group {
    width: 100%;
}

#newSpotPageContainer .overflow-group {
    max-height: 200px;
    overflow: auto;
}