@media  (max-width: 780px) {
    body {
        padding-top: 178px;
    }

    nav.navbar {
        position: absolute!important;
    }

    nav ul {
        display: none;
    }
}


nav.navbar {
    top: 0;
    position: fixed;
    width: 100%;

}



nav.navbar {
    z-index: 100;
    /*background-color: #15364F;*/
    background-color: #fff;
    border-radius: 0;
    height: 178px;
    padding-top: 30px;
    font-size: 1.2em;
}

nav.navbar .navbar-brand img {
    height: 80px;
}

nav.navbar ul {
    margin-top: 30px;
    float: right;
}

nav.navbar .nav-item {
    color: #30343A;
}

nav.navbar .nav-item a {
    color: #999;
    background: none;
}

nav.navbar .nav-item a:hover {
    color: #0A0B0C;
}