nav.navbar {
    z-index: 100;
    background-color: #15364F;
    border-radius: 0;
    height: 54px;
}

nav.navbar .nav-item {
    color: #FDFFFC;
}

nav.navbar .nav-item a {
    color: #E3E8E1;
}

nav.navbar .nav-item a:hover {
    color: #FDFFFC;
}