<div id="aboutPageContainer" class="page-container">
    <div class="container">
        <div class="row">
        <section class="col-md-4">
                <h2>What we do</h2>
                <p>
                    We are a park sharing and management service. We provide a new and innovative way for parking lot owners and/or anyone with their own driveways to advertise spots for rent on a one-off and on a regular basis. This creates cheap and alternative solutions for users to find temporary parking with the app.
                </p>
            </section>
            <section class="col-md-4">
                <h2>What we offer</h2>
                <p>
                    We offer two unique synergetic services. The first is a management tool that allows anyone who owns parking spots to provide the spots for rent and manage their availability. The second is a mobile app that displays these parking spots at nearby destinations ideal for anyone who wishes to reserve a location before they reach their destination.
                </p>
            </section>
            <section class="col-md-4">
                <h2>Who we are</h2>
                <p>
                    Roundaway is mobile community, and a member of the ‘sharing economy’. We strive to ease aspects of the commute, specifically revolved around parking. We believe parking should be affordable simple, and straight forward.
                </p>
            </section>
        </div>
    </div>
</div>