<div id="profilePageContainer">
    <div class="container">

        <h2>{{name}}</h2>

        <div class="row">
            <div class="col-md-2">Facebook</div>
            <div class="col-md-1">
                <span class="fa fa-check-square-o" ng-show="SocialNetworks.Facebook"></span>
                <span class="fa fa-square-o" ng-hide="SocialNetworks.Facebook"></span>
            </div>
            <div class="col-md-1"><a href="/connect/facebook" target="_self" class="btn btn-primary btn-sm" ng-class="{disabled: SocialNetworks.Facebook}"><span><i class="fa fa-plus"></i> Connect</span></a></div>
        </div>
        <div class="row">
            <div class="col-md-2">Google</div>
            <div class="col-md-1">
                <span class="fa fa-check-square-o" ng-show="SocialNetworks.Google"></span>
                <span class="fa fa-square-o" ng-hide="SocialNetworks.Google"></span>
            </div>
            <div class="col-md-1"><a href="/connect/google" target="_self" class="btn btn-success btn-sm" ng-class="{disabled: SocialNetworks.Google}"><span><i class="fa fa-plus"></i> Connect</span></a></div>
        </div>
    </div>

</div>
